<%- include('header.ejs') %>

<!-- Se envuelve el contenido en un contenedor de Bootstrap para mejorar el diseño -->
<div class="container">

  <p>User ID: <%= session.userId %></p> 
  <%# Muestra el ID del usuario si está logado %>

  <p>Ejemplo de inyección de código <%= nombre %></p> 
  <%# Ejemplo de escape automático de EJS para prevenir XSS  %>

  <h2><%= __('Conditionals') %></h2> 
  <p>El segundo actual es: <%= segundoActual %></p>
  <% if (esPar) { %>
    <p><%= __('Current second is even') %></p>
  <% } else { %>
    <p>El segundo actual es impar.</p>
  <% } %>

  <%# contenido para usuarios NO logados - Condicional para mostrar contenido según el estado de autenticación %>
  <% if (!session.userId) { %>
    <p>Para ver el contenido debes hacer <a href="/login">login</a></p>
  <% } %>

  <%# Sección para usuarios logados %>
<% if (session.userId) { %>
  <h2>Bucles</h2>
  <form>
    <input type="text" name="name">
    <button type="submit">buscar</button>
  </form>
  <%# Inicio del bucle para mostrar agentes %>
  <% agents.forEach(agent => { %>
    <p>
      <%# Imagen del avatar del agente %>
      <%# Se usa una expresión ternaria para mostrar el avatar del agente o una imagen de placeholder %>
      <img
        src="<%= agent.avatar ? `/avatars/${agent.avatar}` : 'https://placehold.co/50' %>"
        alt="avatar"
        width="50"
      />
      
      <%# Nombre y edad del agente %>
      <!-- se deja comentado: agent.name %> tiene <%= agent.age %> años.  -->
      <%= __('{{name}} is {{age}} years old', agent) %>
      
      <%# Enlace para eliminar el agente %>
      <a href="/agents/delete/<%= agent.id %>"><i class="bi bi-trash"></i></a>
    </p>
  <% }) %>
  <%# Fin del bucle de agentes %>
<% } %>

<h2><%= __('Pluralización example') %></h2>
<p>0 <%= __n('Mouse', 0) %></p>
  <p>1 <%= __n('Mouse', 1) %></p>
  <p>2 <%= __n('Mouse', 2) %></p>
  <p>3 <%= __n('Mouse', 3) %></p>
  <p>4 <%= __n('Mouse', 4) %></p>

</div>
<%- include('footer.ejs') %>