<% include('header.ejs') %>
  <h1><%= appName %></h1> <!-- Ejemplo de escape autom치tico de EJS para prevenir XSS -->
  <p>Ejemplo de inyecci칩n de c칩digo <%= nombre %></p>

  <h2>Condicionales</h2>
<!-- Ejemplo de condicional en EJS -->
  <p>El segundo actual es: <%= segundoActual %></p>
  <% if (esPar) { %>
    <p>El segundo actual es par.</p>
  <% } else { %>
    <p>El segundo actual es impar.</p>
  <% } %>
  
  <h2>Bucles</h2>
  <!-- Ejemplo de bucle en EJS -->
  <% users.forEach(user => { %>
    <p><%= user.name %> tiene <%= user.age %> a침os.</p>
  <% }) %>
<% include('footer.ejs') %>